	<footer>
		<div class="wrapper">
			<div class="footerRow">
      			<dl>
          			<dt>Products</dt>
          			<dd>
              			<a href="#">API</a>
              			<a href="#">Tokensale Platform</a>
              			<a href="#">Wallet</a>
              			<a href="#">TAI</a>
              			<a href="#">Crypto Gateway</a>
          			</dd>
      			</dl>
      			<dl>
          			<dt>Use cases</dt>
          			<dd>
             			<a href="#">API</a>
              			<a href="#">Tokensale Platform</a>
          			</dd>
      			</dl>
      			<dl>
          			<dt>Documents</dt>
          			<dd>
              			<a href="#">API</a>
              			<a href="#">Tokensale Platform</a>
              			<a href="#">Wallet</a>
          			</dd>
      			</dl>   
      			<dl class="address">
      				<dt>Contacts</dt>
      				<dd>
      					<ul>
      						<li>Ireland International: +353-81-837-0020<br /> Ireland Toll Free:  1-800-300-004</li>
      						<li>Office 29, Clifton House,<br /> Fitzwilliam Street Lower<br /> Dublin 2, D02 XT91,<br />Republic Ireland</li>
      					</ul>
      				</dd>
      			</dl>
      			<div class="contact_sale_block">
      				<a href="" class="btn btn_framed">Contact sales</a>
      				<div class="socials_line">
      					<a href="" class="telegram">
      						<i class="over"></i>
      						<i class="out"></i>
      					</a>
      					<a href="" class="linkedin">
      						<i class="over"></i>
      						<i class="out"></i>
      					</a>
      				</div>      				
      			</div>
      			<div class="copyrights">   
      				<small>&copy; CryptoProcessing, 2018</small>     
        			<a href="#">Terms of Use</a>
        			<a href="#">Privacy Policy</a>
        			
      			</div>
   			</div>
  		</div>
	</footer>