<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <a href="/" class="footer_logo"><img src="/img/new_lk/mt_logo_f.png" alt=""/></a>
        <a href="https://files.modultrade.com/wallet/MT-Wallet_UserGuide.pdf" target="blank" class="about_mt" id="user_guide_btn"><%== t('footer.user_guide') %></a>
        <a href="/MT_Wallet_Terms_of_Use.pdf" target="blank" class="about_mt" id="terms_of_use_btn"><%== t('footer.terms_of_use') %></a>
        <!--<a href="/docs/MT-Wallet-User-Guide.pdf" target="blank" class="about_mt">About MT Wallet</a>-->
      </div>
      <div class="col-lg-5 col-md-4 col-sm-12 col-xs-12 socials">
        <a href="https://www.linkedin.com/company/16259600/" target="_blank"><i class="linkedin"></i></a>
        <a href="https://www.facebook.com/modultrade/" target="_blank"><i class="fb"></i></a>
        <a href="https://twitter.com/ModulTrade" target="_blank"><i class="twitter"></i></a>
        <a href="https://angel.co/modultrade" target="_blank"><i class="icon_4"></i></a>
        <br class="mob"/>
        <a href="https://www.reddit.com/user/ModulTrade/" target="_blank"><i class="reddit"></i></a>
        <a href="https://github.com/ModulTrade"><i class="github"></i></a>
        <a href="https://www.youtube.com/channel/UCmrYHneVIDhZNnwJgHJEK5A" target="_blank"><i class="youtube"></i></a>
        <a href="https://medium.com/@ModulTrade" target="_blank"><i class="google"></i></a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 without_padding">

        <address>
          Email:&nbsp;<a href="mailto:support@modultrade.com">support@modultrade.com</a>
        </address>


      </div>

    </div>
  </div>
</footer>