
<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>ModulTrade Wallet</title>
    <meta name="description" content="In ModulTrade ecosystem micro, small and medium enterprises can meet, commit and execute trade globally Easily, Trustfully and Efficiently">
    <link href="/favicon.ico" rel="icon">
 

    <meta name="format-detection" content="telephone=no"/>
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> 
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet" />
     <link href="./assets/css/datepicker.css" rel="stylesheet" />
    <link href="./assets/css/style_wallet.css" rel="stylesheet" />
    <link href="./assets/css/style_wallet_2.css" rel="stylesheet" />
    <link href="./assets/css/responsive.css" rel="stylesheet" />
    <link href="./assets/css/responsive_2.css" rel="stylesheet" />
 
</head>

<body>

<header>

  <div class="blue_line">
    <div class="container">
      <nav class="desktop">
        <a href="https://modultrade.com/" target="_blank">About</a>
        <a href="https://product.modultrade.com/" target="_blank">Market</a>
        <a href="/?lang=<%= I18n.locale %>">Wallet</a>
 

      </nav>


      <div class="right_block">

        <div class="lang_container">
          <div class="lang">
            <em></em>
            <span>English</span>
        
            <ul>
              <li><a href="#/?lang=zh-CN">CN</a></li>
              <li><a href="#/?lang=ru">RU</a></li>
              <li><a href="#/?lang=it">IT</a></li>
              <li><a href="#/?lang=fr">FR</a></li>
              <li><a href="#/?lang=ko">KR</a></li>
            </ul>
          </div><!-- lang  -->
          </div><!-- lang_container  -->
        
          <div class="persona_mob mob">
            <em></em>
            <div class="img"><img src="./assets/img/no_userpic.png" alt=""/></div>
            <div class="popup">
              <div class="name_block">
                <div class="img_p"><img src="./assets/img/no_userpic_big.png" alt=""/></div>
                <div class="name_p">
                                                    <span>
                                                         John Konstantinopolsky
                                                        
                                                    </span>
                  <!--<i>Private wallet</i>-->
                </div>

                <div class="clear"></div>
              </div><!--  name_block -->

              <div class="btns_line">
                <a href="/users/edit/?lang=<%= I18n.locale %>" class="edit_profile">Edit profile</a>
                <a href="/users/sign_out/?lang=<%= I18n.locale %>" class="logout">Logout</a>
              </div><!-- btns_line  -->

              <div class="block">

                  <a href="/2fa">2fa settings</a>
                
              </div><!-- block   -->


            </div><!-- popup  -->
            <div class="clear"></div>
          </div><!--  persona  -->
   
        <div class="clear"></div>
      </div><!--  right_block  -->
    </div><!-- container  -->

  </div><!--  blue_line  -->
  <div class="white_line desktop">
    <div class="container">
      <div class="row">
        <div class="logo_container desktop col-lg-3 col-md-3 col-sm-3">
          <a href="/?lang=<%= I18n.locale %>" class="logo"><img src="./assets/img/mt_logo.png"/></a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="big_menu_btn"><i><img src="./assets/img/svg/big_menu_btn.svg" alt="" /></i></div>
        </div>
         <div class="right_block_container  col-lg-3 col-md-3 col-sm-3">

         
            <div class="persona">
              <em></em>
              <div class="img"><img src="./assets/img/no_userpic.png" alt=""/></div>
              <div class="name desktop">
                                  <span>
                                   John Konstantinopolsky
                                    </span><em></em>
                
              </div><!--  name -->
              <div class="popup">
                <div class="name_block">
                  <div class="img_p"><img src="./assets/img/no_userpic_big.png" alt=""/></div>
                  <div class="name_p">
                  <em></em>
                    <span>John&nbsp;Konstantinopolsky</span>
                    <!--<i>Private wallet</i>-->
                  </div>

                  <div class="clear"></div>
                </div><!--  name_block -->

                <div class="btns_line">
                  <a href="/users/edit/?lang=<%= I18n.locale %>" class="edit_profile">Edit profile</a>
                  <a href="/users/sign_out/?lang=<%= I18n.locale %>" class="logout">Logout</a>
                </div><!-- btns_line  -->

                <div class="block">
                  
                    <a href="/2fa">2fa settings</a>
                 
                </div><!-- block   -->


              </div><!-- popup  -->
              <div class="clear"></div>
            </div><!--  persona  -->
         
        </div><!-- right-block - container-->       

      </div>
    </div><!-- container  -->
  </div>
</header>
<div class="wrapper">
  <main class="account inner_account">
    <div class="container">
        <h1>Hi, John! Welcome to Modultrade!</h1>
        <p class="preface_txt_for_start">To begin using the <a href="#">MT Wallet</a> and to start trading on the <a href="#">MT Market</a>, please fill in the following information:</p>


        <div class="accordeon_block">
          <dl>
            <dt><i class="complite"></i> User profile <em class="add"></em><em class="minus"></em></dt>
            <dd>
              
                     <div class="form account_form">
                           <form>
                           <div class="row">
                             <div class="col-lg-5 col-md-5 col-sm-12 col-md-12 main_col">
                               <ul>
                                 <li>
                                      <label>First name</label>
                                      <div class="form_input">
                                            <input type="text" />
                                      </div>
                                 </li>
                                 <li>
                                      <label>Last name</label>
                                      <div class="form_input">
                                            <input type="text" />
                                      </div>
                                 </li>
                                 <li>
                                      <label>Email*</label>
                                      <div class="form_input">
                                            <input type="text" />
                                      </div>
                                 </li>
                                 <li>
                                      <label>Phone*</label>
                                      <div class="form_input">
                                            <input type="text" />
                                      </div>
                                 </li>
                                </ul>
                             </div>  
                             <div class="col-lg-7 col-md-7 col-sm-12 col-md-12 change_passw"> 
                               <div class="framed">
                                    <h3>Change password</h3>
                                    <p>Leave these fields blank if you don't want to change your password. </p>
                                    <ul> 
                                         <li>
                                            <label>Last name</label>
                                            <div class="form_input">
                                                       <input type="text" />
                                            </div>
                                         </li>
                                         <li>
                                             <label>Email*</label>
                                              <div class="form_input">
                                                      <input type="text" />
                                              </div>
                                         </li>
                                   </ul> 
                                  </div>
                                </div>
                                <div class="hr"></div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-md-12">
                                <ul class="row">
                                   <li class="col-lg-5 col-md-5 col-sm-12 col-md-12 current_passw">
                                      <label>Current password to make changes</label>
                                      <div class="form_input">
                                            <input type="password" />
                                      </div>
                                   </li>                                
                                   <li class="col-lg-7 col-md-7 col-sm-12 col-md-12 submit">
                                     
                                      <div class="form_submit">
                                            <button type="submit" class="create_account">
                                                 
                                                 <span>Update Information</span>
                                            </button>
                                      </div>
                                   </li>                                                                                                                                                     
                               </ul>
                               </div>
                               </div>
                           </form>
                         </div>  <!-- form  -->


            </dd>

          </dl>
          <dl class="opened">
            <dt><i></i>Trade Profile <em class="add"></em><em class="minus"></em></dt>
            <dd>
               <h3>Account type (This is an irreversible action)</h3>
               <div class="person_data_form data_form_opened">
                   
                   <ul class="radio_switcher">
                     
                       <li data-type="person_data_form" class="checked"><i class="checked"></i><i></i><span>Personal</span></li>
                       <li data-type="business_data_form"><i class="checked"></i><i></i><span>Business</span></li>
                   </ul><!--  radio_switcher  -->

                   <div class="form account_form">
                      <form>
                           <div class="row data_account_form">
                             <div class="col-lg-5 col-md-5 col-sm-12 col-md-12 left_col">
                               <ul>
                                     <li class="calendar_block">
                                                          <label>Birthday*</label>
                                                          <div class="form_input">
                                                                <em><i class="calendar"></i></em>
                                                                <input type="text" data-toggle="datepicker" />
                                                          </div>
                                      </li>    
                                      <li>
                                               <label>Document type*</label>
                                                <div class="form_input form_input_select">
                                                                <i></i>
                                                          <select>
                                                                  <option selected>Choose..</option>
                                                                  <option>Passport</option>
                                                          </select>
                                                </div>
                                         </li>
                                         <li>
                                               <label>Document number</label>
                                               <div class="form_input">
                                                     <input type="text" />
                                               </div>
                                         </li>

                                </ul>
                              </div>
                              <div class="col-lg-5 col-md-5 col-sm-12 col-md-12 right_col">
                                   <ul>
                                        <li>
                                               <label>Country</label>
                                               <div class="form_input">
                                                    <input type="text" placeholder="Choose or type" />
                                               </div>
                                          </li>
                                         <li>
                                               <label>City</label>
                                               <div class="form_input">
                                                    <input type="text" placeholder="Begin to type.." />
                                               </div>
                                          </li>
                                          <li>
                                               <label>Address</label>
                                               <div class="form_input">
                                                    <input type="text" placeholder="Street, building, flat.." />
                                               </div>
                                          </li>
                                          <li class="zip">
                                               <label>Zip code</label>
                                               <div class="form_input">
                                                    <input type="text" />
                                               </div>
                                          </li>                                          

                                   </ul>
                              </div> 
                              <div class="col-lg-5 col-md-5 col-sm-12 col-md-12">
                                <ul>
                                  
                                 <li class="submit">
                                     
                                      <div class="form_submit">
                                            <button type="submit" class="create_account">
                                                 
                                                 <span>Save and proceed</span>
                                            </button>
                                      </div>
                                   </li>                                     
                                </ul>
                              </div>
                            </div>
                          </form>
                       </div><!-- .form -->          
               </div><!-- person_data_form -->   
               <div class="business_data_form">
                   
                   <ul class="radio_switcher">
                     
                       <li data-type="person_data_form"><i class="checked"></i><i></i><span>Personal</span></li>
                       <li data-type="business_data_form" class="checked"><i class="checked"></i><i></i><span>Business</span></li>
                   </ul><!--  radio_switcher  -->
                   <div class="form account_form">
                      <form>
                           <div class="row data_account_form">
                             <div class="col-lg-5 col-md-5 col-sm-12 col-md-12 left_col">
                               <ul>
                                                 <li class="regnum_block">
                                                          <label>Company registration number</label>
                                                          <div class="form_input">
                                                               
                                                                <input type="text" />
                                                          </div>
                                                  </li> 
                                        <li>
                                               <label>Company name</label>
                                                <div class="form_input form_input_select">
                                                                <i></i>
                                                          <select>
                                                                  <option selected>Choose..</option>
                                                                  <option>Passport</option>
                                                          </select>
                                                </div>
                                         </li>
                                         <li>
                                               <label>Country</label>
                                               <div class="form_input">
                                                    <input type="text" placeholder="Choose or type" />
                                               </div>
                                          </li>
                                                  


                               </ul>
                              </div>
                               <div class="col-lg-5 col-md-5 col-sm-12 col-md-12 right_col">
                                   <ul>
                                          <li>
                                               <label>Address</label>
                                               <div class="form_input">
                                                    <input type="text" placeholder="Street, building, flat.." />
                                               </div>
                                          </li>
                                           <li>
                                               <label>Website</label>
                                               <div class="form_input">
                                                     <input type="text" />
                                               </div>
                                         </li>
                                         <li>
                                               <label>City</label>
                                               <div class="form_input">
                                                    <input type="text" placeholder="Begin to type.." />
                                               </div>
                                          </li>
                                          <li class="zip">
                                               <label>Zip code</label>
                                               <div class="form_input">
                                                    <input type="text" />
                                               </div>
                                          </li>                                 
                                   </ul>
                              <div class="col-lg-5 col-md-5 col-sm-12 col-md-12">
                                <ul>
                                  
                                 <li class="submit">
                                     
                                      <div class="form_submit">
                                            <button type="submit" class="create_account">
                                                 
                                                 <span>Save and proceed</span>
                                            </button>
                                      </div>
                                   </li>                                     
                                </ul>
                              </div>
                           </div>
                       </form>
                   </div>            



                </div><!-- business_data_form -->   

            </dd>

          </dl>
        </div><!-- accordeon block -->



    </div><!--  container -->
  </main>
 <div class="bg_breadcrumbs_bot">
   
   <div class="container">
                    <ul class="breadcrumbs breadcrumbs_bot">
                          <li><a href="#">MT Accounts</a></li>
                          <li>Create new MT Account</li>
                    </ul> 

   </div>
 </div>
 <footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <a href="/" class="footer_logo"><img src="./assets/img/mt_logo_f.png" alt=""/></a>
        <a href="https://files.modultrade.com/wallet/MT-Wallet_UserGuide.pdf" target="blank" class="about_mt" id="user_guide_btn">About MT Accounts</a>
        <a href="/MT_Wallet_Terms_of_Use.pdf" target="blank" class="about_mt" id="terms_of_use_btn">Terms of use</a>
        <!--<a href="/docs/MT-Wallet-User-Guide.pdf" target="blank" class="about_mt">About MT Wallet</a>-->
      </div>
      <div class="col-lg-5 col-md-4 col-sm-12 col-xs-12 socials">
        <a href="https://www.linkedin.com/company/16259600/" target="_blank"><i class="linkedin"></i></a>
        <a href="https://www.facebook.com/modultrade/" target="_blank"><i class="fb"></i></a>
        <a href="https://twitter.com/ModulTrade" target="_blank"><i class="twitter"></i></a>
        <a href="https://angel.co/modultrade" target="_blank"><i class="icon_4"></i></a>
        <br class="mob"/>
        <a href="https://www.reddit.com/user/ModulTrade/" target="_blank"><i class="reddit"></i></a>
        <a href="https://github.com/ModulTrade"><i class="github"></i></a>
        <a href="https://www.youtube.com/channel/UCmrYHneVIDhZNnwJgHJEK5A" target="_blank"><i class="youtube"></i></a>
        <a href="https://medium.com/@ModulTrade" target="_blank"><i class="google"></i></a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 without_padding copy_block">
        <p class="copy">Modultrade &copy; 2017-2018</p>
        <address>
          <a href="mailto:support@modultrade.com"><i></i><span>Support</span></a>
        </address>


      </div>

    </div>
  </div>
</footer>

</div><!-- wrapper -->


<div class="big_menu_block">
  <div class="container">
      <div class="h">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">&nbsp;</div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                 <div class="big_menu_btn"><i><img src="./assets/img/svg/big_menu_btn.svg" alt="" /></i></div>
            </div>
          </div>
      </div><!-- h -->
      <div class="big_menu_content">
      <em></em>
          <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                   <dl>
                       <dt>Company</dt>
                       <dd><a href="#">Our team</a></dd>
                       <dd><a href="#">Our vision</a></dd>
                       <dd><a href="#">Our advisors</a></dd>
                       <dd><a href="#">Our roadmap</a></dd>
                       <dd><a href="#">Our partners</a></dd>
                       <dd><a href="#">Our new blog</a></dd>
                       <dd><a href="#">Our dev log</a></dd>
                       <dd><a href="#">Academy</a></dd>
                       <dd><a href="#">Become a partner</a></dd>
                       <dd><a href="#">Open position (3)</a></dd>                       
                   </dl>

              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                   <dl>
                       <dt>Market</dt>
                       <dd><a href="#">How it works</a></dd>
                       <dd><a href="#">Find Product to Buy</a></dd>
                       <dd><a href="#">Sell Your Product</a></dd>
                       <dd><a href="#">Find Seller</a></dd>
                       <dd><a href="#">Info for Seller</a></dd>
                       <dd><a href="#">Info for Buyers</a></dd>
                       <dd><a href="#">What is MT Connect</a></dd>
                       <dd><a href="#">How we measure CRV/BRV</a></dd>
                       <dd><a href="#">What is Smart-Contract</a></dd>
                       <dd><a href="#">API</a></dd>                       
                   </dl>

              </div>   
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                   <dl>
                       <dt>Wallet</dt>
                       <dd><a href="#">How it works</a></dd>
                       <dd><a href="#">Pay with MT button</a></dd>
                       <dd><a href="#">What you can do with MTRc token</a></dd>
                       <dd><a href="#">Payment Bot</a></dd>
                       <dd><a href="#">API</a></dd>                     
                   </dl>
                   <dl>
                       <dt>Development</dt>
                       <dd><a href="#">Organize Token Sale</a></dd>
                       <dd><a href="#">Make you token and wallet</a></dd>
                       <dd><a href="#">Develop your marketplace</a></dd>
                       <dd><a href="#">Develop your bot</a></dd>                   
                   </dl>
              </div>  
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                   <dl>
                       <dt>Accounts</dt>
                       <dd><a href="#">Sign In</a></dd>
                       <dd><a href="#">Sign UP</a></dd>
                       <dd><a href="#">Settings</a></dd>
                       <dd><a href="#">API</a></dd>                     
                   </dl>
              </div>                                       
          </div><!-- row -->
      </div><!-- big_menu_content -->
  </div><!-- container -->

</div><!-- big_menu_block -->


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
     <script src="./assets/js/datepicker.min.js"></script>
    <script src="./assets/js/script_new_wallet.js"></script>
</body>
</html>
