{# tokensale_platform.twig #}
{% extends "layout.twig" %}

{% block page %}
<div class="type_layout">
	{% include 'sections/_header.twig' %}
	<div class="bg_circle"></div>
	<div class="sun"></div>

	<main>
		<section class="height100pc tokensale_platform">
			<div class="wrapper" data-type="background"  data-speed="7">
				<div class="row">
					<div class="col">
						<h1>Tokensale platform</h1>
						<p>The tokensale platform is a full interactive portal that provides extensive opportunities for ICO projects</p>
						<div class="btn_line"><a href="" class="btn btn_blue">Contact sales</a><a href="" class="btn btn_framed">View example</a></div>
					</div>
					<div class="col">
						<div class="img">
							<img src="./img/illustrations/interface.png" alt=""></div>
						</div>
				</div>
			</div>
		</section>
		<section class="how">
			<div class="wrapper">
				<h2>How it works</h2>
				<p>Tokensale platform allows you to focus on your project and delegate all technical tasks<br /> to our reliable automated system</p>
				<div class="schema"> 
					<div class="platform">
						<span>TOKENSALE<br class="mob" /> PLATFORM</span>
						<div class="investor">Investor</div>
						<div class="ico">Your ICO</div>
						<div class="token_line tokens_block">
							<em>btc</em>
							<em>eth</em>
							<em>bcc</em>
							<em>USD/EUR</em>
						</div>
						<div class="tokens_block tokens">
							<em>Tokens</em>
						</div>
					</div>
				</div>
				<p>The platform keeps detailed statistics on the collected funds, transactions, and balances of the users. Payments time stamps and statuses are logged in details on our server. A personal account has a public API that displays accurate information about the collected funds and the distribution of tokens.</p>
			</div>
		</section>
		<section class="benefits">
			<div class="wrapper">
				<h2>Benefits﻿</h2>
				<div class="container">
					<div class="block per_two">
						<h3>Simple</h3>
						<div class="row">
							<dl>
								<dt>Receive BTC, ETH, BCC, ETC, BTG</dt>
								<dd>Any other important cryptocurrencies can be added to the investment opportunities under an additional agreement. The user receives a personal address for payment in the chosen cryptocurrency.</dd>
							</dl>
							<dl>
								<dt>One day integration</dt>
								<dd>We create a boxed solution. The integration with our service is matter of few hours.</dd>
							</dl>
							<dl>
								<dt>Receive Visa and Mastercard</dt>
								<dd>Our acquiring and processing infrastructure allow use credit / debit card for your tokensale</dd>
							</dl>
							<dl>
								<dt>Integration KYC provider</dt>
								<dd>The cryptoprocessing platform have a ready made integration with the famous KYC provider: Trulioo, Basisid, Jumio</dd>
							</dl>
						</div>
					</div>
					<div class="block per_three">
						<h3>Smart (Capable)</h3>
						<div class="row">
							<dl>
								<dt>Integrated CPA marketing system</dt>
								<dd>You can generate special tracking links for traffic partner in admin account on tokensale platform</dd>
							</dl>
							<dl>
								<dt>Promocode system for community and partners﻿</dt>
								<dd>With promocodes your marketing team realize more attraction activity for project community</dd>
							</dl>
							<dl>
								<dt>Marketing and financial analytics tools</dt>
								<dd>Our admin panel and dashboard have inbuilt users analytics and transactions information</dd>
							</dl>
							
						</div>
					</div>
					<div class="block per_two">
						<h3>Secure</h3>
						<div class="row">
							<dl>
								<dt>DDoS protection</dt>
								<dd>The tokensale platform has a high level of DdoS protection with partnership  maxcdn and cloudflare</dd>
							</dl>
							<dl>
								<dt>Data replication</dt>
								<dd>All information from tokensale platform are real time replicated</dd>
							</dl>
							
						</div>
					</div>
				</div>
			</div>
			
		</section>
      	<section class="clients">
      		<div class="wave_grid"></div>
      		<div class="wrapper">
      			<h2>Our customers:</h2>
      			<ul>
      				<li><a href="" target="_blank"><img src="img/clients/client_1.png" alt="WorldWIFI"></a></li>
      				<li><a href="" target="_blank"><img src="img/clients/client_2.png" alt="Flux"></a></li>
      				<li><a href="" target="_blank"><img src="img/clients/client_3.png" alt="Adhive"></a></li>
      				<li><a href="" target="_blank"><img src="img/clients/client_4.png" alt="Viarium"></a></li>
      				<li><a href="" target="_blank"><img src="img/clients/client_5.png" alt="MUST"></a></li>
      				<li><a href="" target="_blank"><img src="img/clients/client_6.png" alt="Arbidex"></a></li>
      				<li><a href="" target="_blank"><img src="img/clients/client_7.png" alt="GraphGrey"></a></li>
      				<li><a href="" target="_blank"><img src="img/clients/client_8.png" alt="ModulTrade"></a></li>
      				<li><a href="" target="_blank"><img src="img/clients/client_9.png" alt="SendCoin"></a></li>
      			</ul>
      		</div>
      	</section>	
      	<section class="learn">
      		<div class="wrapper">
      			<h2>Learn more about Tokensale platform</h2>
	      		<a href="#">
	      			<span class="book first_page">
	      				<i>Token<br />sale<br />plat<br />form</i>
	      			</span>
	      			<span class="book second_page">
	      				<h5>Total investment in serviced projects > 000 000</h5>
	      				<ul>
	      					<li>Adhive.tv</li>
	      					<li>Modultrade</li>
	      					<li>Arbidex</li>
	      					<li>Sandcoin</li>
	      					<li>Graphgrail</li>
	      					<li>World Wi-FI</li>
	      					<li>Atomine</li>
	      					<li>MUST</li>
	      					<li>Viarium</li>
	      				</ul>


	      			</span>
	      			<span class="link">CLICK TO READ</span>
	      		</a>
      		</div>
      	</section>
	</main>		
</div>
{% endblock %}	