body{background-color: #0f101a;font-size:14px;font-family:"Roboto-Light",Arial;max-width:100%;width:100%;overflow-x: hidden;}

ul{margin:0;padding:0;list-style: none;}
.btn--green{height: 32px;padding-top:4px;padding-bottom:7px;padding-left: 31px;padding-right: 31px;  color: #0f101a;text-decoration:none;  border-radius: 4px;background-color: #22d79a;}
.btn--green:hover{text-decoration:none; color: #0f101a;}
.btn--frame{height: 32px;border-radius: 4px;border: solid 1px #22d79a;padding-top:4px;padding-left: 31px;padding-right: 31px;padding-bottom:7px;  text-align: center;color: #22d79a;}
.btn--frame:hover{text-decoration:none; color:#22d79a;}
.clear{clear: both;}
.bg_top{position:absolute;top:0;left:0;width:100%;z-index:-1;}
.bg_top img{max-width:100%;}
.bg_bottom{position:absolute;bottom:0;left:0;width:100%;z-index:-1;}
.bg_bottom img{max-width:100%;}
.mob{display:none;}

header{height: 176px;background-color: #0f101a;padding-top:24px;padding-bottom: 32px;transition:all 0.5s;}
header .logo{float:left; height: 120px;transition:all 0.5s;display:block;}
header .logo img{height:100%;max-width: 100%;}
header .nav--block{float:right;display:flex;flex-direction: column;justify-content:space-between;padding-top:24px;height:100%;}
header .nav--block hr{width:100%;  height: 2px;border-top: solid 1px #333651;transition:all 0.5s;margin-top: 32px; margin-bottom: 8px;}
header .mob_toggler_navbar{}
header .socials{display:flex;flex-direction: row;justify-content:space-around;height:50%;padding-right: 80px; position: relative;}
header .socials .blog{float:left;margin-right: 46px;font-size: 1.2em;font-weight: bold;}
header .socials .socials_nets{float:left;margin-right: 38px;}
header .socials .socials_nets li{float:left;margin-right: 5px;transition:all 0.5s;}
header .socials .socials_nets li a{display: block;width: 40px;height: 33px;text-align: center;padding-top: 4px;margin-right: 12px;}
header .socials .socials_nets li a img{max-width:100%;transition:all 0.5s;}
header .socials .signup{float:left;color:#22d79a;display: block;padding-top: 6px;font-size:1.2em;margin-right:20px;}
header .socials .signin{float:left;margin-right:13px;padding-left: 24px;padding-right: 24px;font-size:1.2em;}

header .socials .lang{font-size:1.2em;float:left;position:absolute;cursor:pointer;text-align:left;padding-left:0;padding-right:0;  width: 68px; height: 32px;border: solid 1px #333651;color: #acaec0;right:0;top:0;background-color: #0f101a;z-index: 10;}
header .socials .lang span{display: block;padding-left:15px;}
header .socials .lang em{width: 14px;height: 10px; display:block; position:absolute;background: url(../img/images/triangle_lang.png) no-repeat top left;right:10px;top:11px;}
header .socials .opened_lang{height:auto;}
header .socials .opened_lang em{background-position: right top;}
header .socials .lang ul{position:relative;display:none;width:100%;margin-top:7px;}
header .socials .lang li{cursor:pointer;width:100%;padding-top:4px;padding-bottom:4px;padding-left:15px;}
header .socials .lang li:hover{background:#ccc;}
header .socials .lang li a{color: #acaec0;display: block;width:100%;}
header .socials .lang li a:hover{color: #0f101a;text-decoration: none}
header .socials .opened_lang ul{display:block;}

header  nav.navbar {float:left;padding-left: 0;padding-right: 0;height:49%;padding-top:0;padding-bottom:0;}
header  nav .navbar-nav{float:left;}
header  nav .navbar-nav li.nav-item{float:left;}
header  nav .navbar-nav li.active a{border-bottom:1px solid #22d79a;}
header  nav .navbar-nav li.nav-item a.nav-link{color:#acaec0;padding-top:0;padding-bottom:0;letter-spacing: 0.1em;font-size:1.2em;}
header.header_fixed{background:#272940;height:80px;position: fixed;top:0;left:0;width:100%;z-index:10000;padding-top: 12px;padding-bottom: 6px;}
header.header_fixed .logo{float:left;  height: 60px;width: 60px;text-align: center;}
header.header_fixed .socials .socials_nets li{width:35px;height:35px;}
header.header_fixed .nav--block{padding-top: 0;}
header.header_fixed .nav--block hr{margin-top: 5px;margin-bottom:0;}
header.header_fixed .socials .lang{background:#272940;}


h1{text-align:center;color:#fff;font-weight:normal;font-size: 2.7em;font-weight: normal;line-height: 1.3em;margin-bottom: 41px;}
h2{text-align: center;color:#fff;font-size: 2.7em;font-weight: normal;line-height: 1.3em;margin-bottom: 41px;}
#main{padding-top:40px;position:relative;width:100%;}

.timer_block{width: 800px;border-radius: 4px;background-color: #262840;margin:0 auto;padding-top:20px;}
.timer_block h3{text-align: center;color: #22d79a;font-size: 1.4em;}
.timer_block ul.timer{width:396px;margin:0 auto;height:116px;} 
.timer_block ul.timer li{float:left;margin-right:25px;position:relative;width:78px;}
.timer_block ul.timer li:last-child{margin-right: 0;}
.timer_block ul.timer li .value{position:relative;text-align: center;color: #00cde2;width: 65px;height: 64px;display:block;font-size:4em;margin:0 auto;}
.timer_block ul.timer li::after{content:":";position:absolute;top:3px;color: #00cde2;right: -18px;top: -3px;font-size: 4em;}
.timer_block ul.timer li:last-child::after{content:" ";}
.timer_block ul.timer li .unit{text-align: center;color: #acaec0;display:block;font-size: 1.4em;margin-top: 6px;}
.timer_block .rate{ background-color: rgba(0, 0, 0, 0.15);padding-top:20px;padding-bottom: 24px;position: relative;}
.timer_block .rate h3{text-align: center;color: #22d79a;font-size:2.5em;font-weight:normal;}
.timer_block .rate .block_btns{display:flex;flex-direction: row;justify-content:space-around;margin-top:24px;}
.timer_block .rate .block_btns .btn--green{width:320px;height:48px;text-align: center;font-size: 1.4em;font-weight: bold;padding-top: 10px;}
.timer_block .rate .block_btns .btn--frame{width:320px;height:48px;text-align:center;font-size: 1.4em;font-weight: bold;padding-top: 10px;}
.timer_block .rate .time_scale{position:absolute;top:0;left:0;width:100%;height:2px;background:#32364f;}
.timer_block .rate .time_scale .time_level{width:100%;height:2px;background:#42b3d1;position:absolute;top:0;left:0;width:75%;}



#main p{text-align:center;color:  #acaec0;font-size:1.2em;}
#main p b{font-weight:normal;color: #8dd5e4;}
 
#main .timer_block{margin-bottom:48px;}

#token{padding-top:64px;}
#token table{margin:0 auto;border:none;width: 90%;font-size:1.4em;}
#token table tr{height: 56px;border-bottom: 1px solid #262840;;}
#token table tr td{color: #8dd5e4; text-align:right;}
#token table tr td.b{color: #acaec0; text-align: left}
#token dl{}
#token dl dt{ text-align: center;color: #acaec0;font-size:1.4em;font-weight: normal;}
#token dl dd{font-size:4em; color: #ffffff;text-align: center;}
#token dl.today dd{color: #22d79a;}
#token dl dd.dontmiss{font-size:1.4em;color: #acaec0;}
#token h2{margin-bottom: 48px;}
#token .btn--green{margin:0 auto;  width: 311px;height: 48px;display:block;font-size:1.4em;text-align:center;font-weight:bold;margin-top:49px;padding-top: 10px;}

#level{position:relative;padding-top:77px;width:100%;}
#level .level_block{width:100%; height:508px;position:relative;}
#level .level_block .pillar{width: 180px;height: 508px;position:absolute;top:0; left:50%;margin-left:-90px;overflow:hidden;}
#level .level_block .pillar .shape{width: 180px;height: 508px;position:absolute;top:0; left:50%;margin-left:-90px;background:url(../img/level/shape.png) no-repeat top center;z-index:1;}
#level .level_block .pillar .level{transition:all 3s;margin-top:-87px;width: 180px;height: 508px;position:absolute;top:100%; left:50%;margin-left:-90px;background:url(../img/level/level.png) no-repeat top center;z-index:10;}
#level .level_block .pillar .actuall-level{transition:all 3s;margin-top:-88px;width: 180px;height: 90px;position:absolute;top:100%; left:50%;margin-left:-90px;background:url(../img/level/actuall-level.png) no-repeat top center;z-index:12;}
#level .level_block .pillar .scale{width: 180px;height: 508px;position:absolute;top:0; left:50%;margin-left:-90px;background:url(../img/level/scale.png) no-repeat top center;margin-top:44px;z-index:15;}
#level .level_block .pillar .bottom{width: 180px;height: 48px;position:absolute;bottom:0; left:50%;margin-left:-90px;background:url(../img/level/bottom.png) no-repeat top center;z-index:20;}
#level h2 b{color: #8dd5e4;font-weight:normal;}
#level .level_block .start{width:100%; border-bottom:2px solid #1a252e;height:30px;position:absolute;left:0;bottom:47px;}
#level .level_block .soft{width:100%; height:2px;background:#1a252e;position:absolute;left:0;top:50%;}
#level .level_block .hard{width:100%; height:2px;background:#1a252e;position:absolute;left:0;top:44px;}
#level .level_block .level_line{transition:all 3s;width:100%; height:2px;background:#00cde2;position:absolute;left:0;top:100%;margin-top: -44px;}
#level .level_block .l{position:absolute;left:20%;bottom:0;color:#334758;font-size:1.4em;}
#level .level_block .level_line .l{background:#0f101a;border:1px solid #00cde2;border-radius:3px;color:#00cde2;padding-top:5px;padding-bottom:5px;padding-left:15px;padding-right:15px;bottom:-15px;}
#level .level_block .r{position:absolute;left:80%;bottom:0;color:#334758;font-size:1.4em;}
#level .level_block .level_line .r{background:url(../img/level/level_bg.png) no-repeat top center;width:136px;height:40px;text-align:center;bottom:-18px;padding-top:7px;}

#exchanges{padding-top:48px;position:relative;width:100%;min-height: 300px;}
#exchanges ul li{text-align: center}
#exchanges ul li a{text-align:center;display:block;}
#exchanges ul img{max-width:100%;max-height:64px;}

#video{padding-top:80px;padding-bottom: 80px}
#video > table{width:100%;}
#video > table td{overflow:hidden;}
#video > table .margin_side{width:15%;}
#video > table .center_container{width:70%;}
#video .video_list_container{margin-top:40px;width:100%;overflow:hidden;position:absolute !important;top:0;}
#video .video_list_container .list{height:168px;width:4000px;float:left;}
#video .video_list_container .list li{margin-right:50px;cursor:pointer;float:left;width:300px;height:168px;border-radius:3px;display:block;overflow: hidden;}
#video .video_list_container .list li.active{display:none;}
#video .td_video_list_container{height:208px;position: relative;}
#video .main{width: 100%; height: 562px;margin:0 auto;position:relative;}
#video .main li{width:100%;height:100%;position:absolute;top:0;left:0;z-index:1;}
#video .main li.active{z-index:10;}
.video_player{width:100%;height:100%;}


#about{}
#about .img{display:block;max-width:800px;width:80%;margin:0 auto;margin-top:60px;position: relative;}
#about .img img{width:100%;}
#about h2{margin-top:60px;}
#about p{width:90%;text-align:center;margin:0 auto;color: #acaec0;font-size:1.4em;line-height:1.8em;}
#about .img .animate{position: absolute;}
#about .img .l2{top:-5%;}
#about .img .l3{top:-10%;}
#about .img .l4{top:-15%;}
#about .img .l5{top:-20%;}


#how{padding-top:80px;}
#how div.desktop {width:929px;margin: 0 auto;}
#how div img{max-width:100%;}
#how .wp{margin:0 auto;  width: 311px;height: 48px;display:block;font-size:1.4em;padding-top:7px;margin-top:30px;}

#docs{padding-top:64px;}
#docs ul{ width: 700px; height: 256px;margin:0 auto;}
#docs ul li{ float:left;width: 300px; height: 256px; background-color: #0f101a;margin-right:100px;}
#docs ul li:last-child{margin-right:0;}
#docs ul li a{display:block;border: solid 1px #333651;border-radius: 4px;padding-top:16px;padding-bottom: 16px;margin-bottom:24px;}
#docs ul li a:hover{text-decoration: none;}
#docs ul li a span{  letter-spacing: 1.2px;text-align: center;color: #00cde2;font-size:1.4em;text-align:center;display:block;color: #00cde2;}
#docs ul li a em{display:block;width:112px;height:96px;margin:0 auto;margin-top:30px;margin-bottom:19px;}
#docs ul li.op a em{background:url(../img/images/icon_doc1.png) no-repeat center center;}
#docs ul li.pr a em{background:url(../img/images/icon_doc2.png) no-repeat center center;}
#docs ul li a .btn--frame{display:block;color: #22d79a; margin:0 auto; width: 240px;height: 48px;border-radius: 4px;border: solid 1px #22d79a;font-size:1.4em;padding-top:7px;text-align:center;}

#advantages{padding-top:85px;}
#advantages .row > div{height:210px;margin-bottom:70px;}
#advantages .via-page-advantages-wrap-icon{text-align: center;height:140px;}
#advantages .via-page-advantages-wrap-icon img{margin: 0 auto;}
#advantages p{text-align:center; color: #acaec0;font-size:1.4em;width:70%;margin:0 auto;}

#faq{}
#faq .img{display:block;max-width:420px;width:70%;margin:0 auto;margin-bottom: 55px;margin-top:60px;}
#faq .img img{width:100%;}
#faq dl{width: 800px;border-radius: 4px;border: solid 1px #333651;margin: 0 auto;line-height:1.6em;margin-bottom:10px;padding:15px;font-size:1.4em;}
#faq dl dt{margin-bottom:10px;color: #00cde2;font-weight:normal;position:relative;}
#faq dl dt:after{content:" ";width: 14px;height: 10px; display:block; position:absolute;background: url(../img/images/triangle_lang.png) no-repeat top left;right:10px;top:11px;}
#faq dl dd{display:none;color: #acaec0;}
#faq dl.opened dd{display:block;}
#faq dl.opened dt:after{background-position:top right;}

#media{padding-top:80px;}
#media ul{font-size:1.4em;line-height: 1.6em;letter-spacing: 0.1em;margin-bottom: 30px;}
#media ul a:hover{text-decoration:none;}
#media li{ height: 488px;margin-bottom:30px;display:none;}
#media li.show{display:block;}
#media li .via-page-smi-wrap{background-color: #262840;border-radius: 4px;height:100%;overflow: hidden;}
#media li .via-page-smi-wrap .via-page-smi-wrap-image{display:block;height: 192px;overflow: hidden;text-align: center;margin-bottom: 10px;}
#media li .via-page-smi-wrap .via-page-smi-wrap-image img{margin: 0 auto;min-height:100%;}
#media li .via-page-smi-wrap-desc-title{color: #00cde2;padding-left:15px;padding-right:15px;display:block;margin-bottom:10px;}
#media li p{ color: #acaec0;padding-left:15px;padding-right:15px;}
#media li .via-page-smi-wrap-desc-link{ color: #22d79a;padding-left:15px;padding-right:15px;text-align:right;float:right;font-weight:bold;}
#media li .date_smi{color: #8dd5e4;padding-left:15px;padding-right:15px;margin-bottom:10px;}
#media .more{  width: 311px;height: 48px;margin:0 auto;display:block;font-size:1.4em;padding-top:7px;}
#media .nomore{display:none;}

#advisors{padding-top:80px;}
.team{}
.team ul{}
.team li{margin-bottom:40px;}
.team li .via-page-employees-wrap-avatar{width:160px;height:160px;border-radius:80px;overflow:hidden;margin:0 auto;}
.team li .via-page-employees-wrap-avatar img{width:100%;}
.team li .via-page-employees-wrap-desc-name{display:block;text-align: center;font-size:1.4em;color: #acaec0;margin-top:20px;}
.team li .via-page-employees-wrap-desc-position{display:block;text-align: center;font-size:1.4em;color: #00cde2;margin-top:24px;}
.team li .via-page-employees-wrap-desc-social{text-align:center;margin-top:24px;}
.team li .via-page-employees-wrap-desc-social a{margin-right:10px;}
.team li .via-page-employees-wrap-desc-social a:last-child{margin-right:0;}

#roadmap{padding-top:80px;}
#roadmap .roadmap_container{margin: 0 auto; max-width:1000px; width:80%;background:url(../img/images/line_roadmap.png) repeat-y top center;}
#roadmap .roadmap_container li{width:100%;position:relative;float:left;margin-bottom:24px;}


#roadmap .roadmap_container li dl{width:46%;position:relative;float:left;}
#roadmap .roadmap_container li:nth-child(even) dl{float:right;}
#roadmap .roadmap_container li dl::before{content:" ";display:block;position:absolute;width:26px;height:26px;background:url(../img/images/roadmap_point.png) no-repeat top right;top:50%;margin-top:-13px;right:-12%;z-index:100;}
#roadmap .roadmap_container li.active dl::before{background-position: left 0;}
#roadmap .roadmap_container li:nth-child(even) dl::before {left:-12%;right:unset;}
#roadmap .roadmap_container li dl dt{width:100%;height:40px;background: #8dd5e4;color: #0f101a;padding-left:16px;border-radius: 3px 3px 0 0;font-size:1.4em;padding-top:6px;}
#roadmap .roadmap_container li dl dd{background-color: #262840;padding-left:16px;padding-right:16px;color: #acaec0;position:relative;border-radius: 0 0 3px 3px;letter-spacing: 0.15em;font-size:1.4em;padding-top: 10px;
line-height: 1.6em;padding-bottom:10px;}
#roadmap .roadmap_container li dl::after{content:" ";position:absolute;width:7px;height:14px;background:url(../img/images/corner.png) no-repeat top left;right:0;top:50%;margin-top:-7px;display:block;margin-right: -7px;}
#roadmap .roadmap_container li:nth-child(even) dl::after{background-position: top right;left:-7px;}
#roadmap .roadmap_container li.last{float:none;width:100%;height:1px;background:none;}
#roadmap .roadmap_container li.last::before{background:none;}
#roadmap .roadmap_container li .gorizon{display:none;}
#roadmap .roadmap_container li .corner_top{display:none;}
#roadmap .roadmap_container li .vertical{display:none;}
#roadmap .roadmap_container li .corner_bot{display:none;}


#partners{padding-top:80px;position:relative;width:100%;min-height: 300px;}
#partners ul li{text-align: center}
#partners ul li a{text-align:center;display:block;}
#partners ul img{max-width:100%;max-height:64px;}

#main_second{position:relative;padding-bottom:60px;}
#main_second p{text-align:center;color: #acaec0;font-size:1.4em;}
#main_second p b{color: #8dd5e4;font-weight:normal;}
#main_second .timer_block{margin-bottom:48px;}

footer{height: 277px;background-color: #060609;padding-top:80px;}
footer .logo{}
footer .logo a{display: block;float:left;}
footer .logo a img{width:120px;}
footer .mail{width:100%;text-align:center;float:left;color: #22d79a;font-size:1.4em;margin-bottom:20px;}
footer .socials_nets{display:table;width:100%;}
footer .socials_nets li{display:table-cell;text-align: center;}
footer .socials_nets li a{}
footer .socials_nets li a img{} 
footer address{text-align: left;color: #ffffff;float:right;opacity: 0.75;font-size:1.2em;letter-spacing: 0.1em;}
footer .copy{width:100%;text-align:center;color: #ffffff;font-size:1.2em;opacity: 0.5;letter-spacing: 0.1em;}

.fixed_timer{border-radius: 8px 8px 0 0;width:100%; height:0px;position: fixed;bottom:0;left:0;background:#27293e;opacity:0;z-index:10000;transition: all 0.5s;padding:0;margin:0;}
.fixed_timer_active{opacity:1;height:70px;}
.fixed_timer h3{text-align: center;color: #22d79a;font-size: 1.4em;margin-top: 18px;}
.fixed_timer .timer{width: 187px;height: 50px;margin: 0 auto;margin-top: 7px;}
.fixed_timer .timer li{float:left;margin-right:0px;position:relative;}
.fixed_timer .timer li span{}
.fixed_timer .timer li .value{position:relative;text-align: center;color: #00cde2;width: 45px;height: 38px;display:block;font-size:2em;margin:0 auto;}
.fixed_timer .timer li::after{content:":";position:absolute;top:3px;color: #00cde2;right: -3px;top: -3px;font-size: 2em;}
.fixed_timer .timer li:last-child::after{content:" ";}
.fixed_timer .timer li .unit{text-align: center;color: #acaec0;display:block;font-size: 0.8em;margin-top: -4px;}
.fixed_timer .time_scale{width:100%;height:2px;background:#32364f;position:relative;margin-top:34px;}
.fixed_timer .time_level{width:100%;height:2px;background:#42b3d1;position:absolute;top:0;left:0;width:75%;}
.fixed_timer .btn--green{width: 203px;height: 39px;text-align: center;font-size: 1.2em;font-weight: bold;padding-top: 7px;margin: 0 auto;margin-top: 12px;display: block;}	    
.fixed_timer .mobile_h3{display:none;}
.fixed_timer .mob_time_scale{display: none;}