/*---------------------------------------------------------------------------------------------*/
@media (max-width: 767px) {
 .desktop{display: none !important;}
 .mob{display: block;}
 header {height:50px;}
 header .blue_line .nav_mob{cursor:pointer;position:absolute;top: 6px;left: 5px;}
 header .blue_line .nav_mob span{width:40px;height:40px;background:url(../img/mob_menu_btn.png) no-repeat center center;display:block;z-index:1000;}
 header .blue_line .nav_mob ul{display:none;position:fixed;margin:0;padding:0;list-style:none;width:100%;height:100%;background:#f3f5fd;z-index:1000;left: 0px;top: 50px;}
 header .blue_line .nav_mob ul li{padding-top:10px;padding-bottom:10px;border-bottom: 1px solid #dce2f8;padding-left:25px;padding-left:25px;}
 header .blue_line .nav_mob ul li a{color:#708090;text-decoration:none;display:block;}
 header .blue_line .nav_mob ul li a.selected{color:#1798d6;}
 header .blue_line .nav_mob_opened ul{display:block;}

 header .blue_line .container .right_block .help_mob{color: #1798d6;padding-top: 6px;padding-bottom: 4px;font-size: 12px;text-transform: uppercase;font-weight: bold;display:inline-block;position:relative;padding-left:30px;padding-right:15px;border: 1px solid #1798d6;border-radius:15px;}
 header .blue_line .container .right_block .help_mob:hover{text-decoration: none;}
 header .blue_line .container .right_block .help_mob i {width:16px;height:13px;position:absolute;display:block;top:7px;left:7px;background:url(../img/i_chat.png) no-repeat left center;}
 header .blue_line .container .right_block .lang{display:inline-block;top: 0px;}

 header .white_line {height: 50px;}
 header .white_line h1.dashboard {text-align: left;padding-top: 13px;padding-left: 51px;display: table-cell;background: url(../img/bg_dashboard_title.png) no-repeat left center;font-size: 20px;}
 .wrapper {}  
 main > .container{margin-top: 50px;}    
 main{background:#e6eafa url(../img/bg_breadcrumbs.png) repeat-x left 50px;}
 main .breadcrumbs_bot{bottom:50px;}

 footer{height:auto;text-align:center;padding-bottom:100px;}

 footer .about_mt{margin-top:16px;}
 footer address{margin-top:40px;margin-bottom: unset;}
 footer p{color: #1798d6;}
.socials{padding-top:40px;padding-left: 23px;}
.socials a:last-child{margin-right: 8px}

.centered_block_w{width:100%;}
.centered_block_w .form{width:86%;}
.centered_block_w .form form ul li.submit .form_submit button{width:288px;}
}